.DS_Store
*.class
*.iml
*.pyc
*.sw[po]
*.ipr
*.iws
*~
.~*
.buildpath
.classpath
.idea
.project
.pydevproject
.python-version
.settings
project/boot/
*.egg-info/
atlassian-ide-plugin.xml

obj
Temp
*.tmproj
*.csproj
*.unityproj
*.vcproject
*.sln
*.suo
*.user
*.pidb
*.userprefs

Library/cache/*
Library/metadata/*
Library/previews/*
Library/ScriptAssemblies/*

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper
