[user]
	name = John Kurkowski
	email = john.kurkowski@gmail.com
	logallrefupdates = true
[core]
	excludesfile = ~/.gitignore
	editor = mvim -f
	ignorecase = false
	pager = diff-highlight | less
[color]
	ui = true
[alias]
  branchdate = for-each-ref --sort=-committerdate refs/heads/ --format="%(authordate:short)%09%(objectname:short)%09%1B[0;33m%(refname:short)%1B[m%09"
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  stash-popf = !sh -c 'git stash show -p | git apply && git stash drop'

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "p4merge"]
	path = /usr/local/bin/p4merge
[mergetool]
	prompt = false
[grep]
	patternType = perl
	lineNumber = true
[push]
	default = simple
