[user]
	name = John Kurkowski
	email = jkurkowski@gravity.com
[core]
	excludesfile = /Users/John/.gitignore
	editor = mvim -f
[color]
	ui = true
[alias]
  svnpush = !sh -c 'git stash && git svn dcommit && git stash pop'
  svnpull = !sh -c 'git stash && git svn rebase && git stash pop'
  stash-popf = !sh -c 'git stash show -p | git apply && git stash drop'

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "p4merge"]
	path = /usr/local/bin/p4merge
[mergetool]
	prompt = false
[grep]
	patternType = perl
	lineNumber = true
