add_newline = false
format = """$all"""
right_format= """$cmd_duration $time"""

[aws]
disabled = true

[cmd_duration]
min_time = 30000
min_time_to_notify = 30000
show_milliseconds = true
show_notifications = true

[git_commit]
disabled = true

[gcloud]
disabled = true

[git_branch]
disabled = true

[git_status]
disabled = true

[custom.jj]
when = "jj-starship detect"
shell = ["jj-starship", "--no-git-id", "--no-jj-id"]
format = "$output "

[line_break]
disabled = true

[nodejs]
format = '[$symbol($version )]($style)'

[package]
disabled = true

[python]
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'

[status]
disabled = false

[time]
format = "[$time]($style)"
disabled = false
style = "dimmed"
time_format = "%F %T"
